# Force Linguist to ignore all frontend and data payload files
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
Bloomberg-Microstructure-Data/* linguist-vendored
